body {
    margin: 0%;
}

.header {
    display: flex;
    border : 1px solid black;
    justify-content: space-between;
    align-items: center;
    

}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    align-self: center;
    padding: 10px;

}

.nav-items > ul > li {
    margin: 5px;
}

#logo {
   width: 5%;
   height: 5%;
   max-width: 100%;
   max-height: 100%;
   padding: 5px;
}


.card-container {
    display: flex;
    padding: 2%;
    flex-wrap: wrap;
}

.card {
    width: 15%;
    border: 1px solid black;
    /* padding: 10px; */
    margin: 10px;
    padding: 5px;
    
}

.card > img {
    width: 100%;
}
